*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}
.caja1{
    background-color: blue;
    height: 100vh;
    border-style: solid;
    border-color: black;
}
.caja2{
    position: relative;
    background-color: white;
    height: 100vh;
    border-style: solid;
    border-color: black;
}
h1{
    text-align: center;
}
#uno{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    animation-duration: 1s;
}
#dos{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    animation-duration: 2s;
}
#tres{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    animation-duration: 3s;
}
#cuatro{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    animation-duration: 2s;
}
